MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

MSSQL_SERVER=
MSSQL_PORT=
MSSQL_DATABASE=
MSSQL_USER=
MSSQL_PASSWORD=

OWNER_NICK=
USER_MANAGER_SALT=
NICKSERV_PASSWORD=
PORT=8084
BIND_URL=http://127.0.0.1:8084

FIREBASE_API_KEY=
FIREBASE_DOMAIN=

IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=

GOOGLE_API_KEY=

TWITTER_ENABLED=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_TOKEN_KEY=
TWITTER_TOKEN_SECRET=


PUSHER_APPID=
PUSHER_KEY=
PUSHER_SECRET=