module.exports = {
    // Project Config
    project: require('./package.json'),
    // Bot specific
    bot: {
            debug: true,
            disableScripts: false,
            // Script Directories
            scripts: [
            // Core Libs
            '/scripts/lib',
            // Data Generators (Promises)
            '/scripts/generators',
            // Express end points
            '/scripts/pages',
            // Single Point commands
            '/scripts/commands',
            // Administrative commands
            '/scripts/admin',
            // Owner commands
            '/scripts/owner',
            // Listeners
            '/scripts/listeners',
            // Scripts that have mix of everything
            '/scripts/modules',
            // Fsociety Module -- For #fsociety on Freenode
            '/scripts/fsociety',
            // URL Listener feature
            '/scripts/urlListener',
            // Only load in development
            // '/scripts/beta',
        ],
        // Currently running Environment
        env: 'devel'
    },
    // User Manager configuration
    userManager: {
        salt: 'hellofriends',
        keyLength: 64
    },
    // Command aliasinging
    commandBindings: [{
        command: 'update',
        alias: 'upgrayeddd'
    }, {
        command: 'reload',
        alias: 'refresh'
    }, {
        command: 'token',
        alias: 'upload-token'
    }],
    // Owner configuration
    owner: {
        nick: 'IronY',
        host: 'unaffiliated/irony'
    },
    // We are using a local version of the IRC client
    // To use this you must have a node-irc directory at a child level
    // of the MrNodeBot directory
    ircClientDebug: false,
    // Irc Client Configuration see https://node-irc.readthedocs.io/en/latest/API.html#client
    irc: {
        nick: 'MrNodeBot',
        server: 'irc.freenode.net',
        //server: 'irc.dal.net',
        userName: 'MrNodeBot',
        realName: 'MrNodeBot',
        port: 6665,
        localAddress: null,
        debug: true,
        showErrors: true,
        autoRejoin: false,
        channels: [
            '#MrNodeBot'
        ],
        secure: false,
        selfSigned: false,
        certExpired: false,
        floodProtection: true,
        floodProtectionDelay: 2000,
        sasl: false,
        retryCount: 100,
        retryDelay: 2000,
        stripColors: false,
        channelPrefixes: '&#',
        messageSplit: '512',
        encoding: 'UTF-8',
    },
    // Knex configuration http://knexjs.org/#Installation-client
    knex: {
        enabled: true,
        engine: 'sqlite',
        mysql: {
            client: 'mysql',
            connection: {
                host: '127.0.0.1',
                user: '',
                password: '',
                database: ''
            },
        },
        sqlite: {
            client: 'sqlite3',
            connection: {
                filename: "./data.sqlite"
            }
        }
    },
    pusher: {
        enabled: true,
        config: {
            appId: '',
            key: '',
            secret: ''
        }
    },
    // Nickserv configuration options
    nickserv: {
        password: '',
        nick: 'NickServ',
        host: '', // services.dal.net for Dalnet, empty for Freenode
        accCode: '3'
    },
    // API Keys
    apiKeys: {
        google: '',
        twitter: {
            consumerKey: '', // Fill these in from https://apps.twitter.com/
            consumerSecret: '',
            tokenKey: '',
            tokenSecret: ''
        },
        watson: {
            "alchemy": {
                "url": "https://gateway-a.watsonplatform.net/calls",
                "apikey": ""
            }
        }
    },
    // Git Log configuration
    gitLog: {
        repo: __dirname,
        number: 5,
        fields: [
            'subject',
            'authorName',
            'authorDateRel',
            'abbrevHash'
        ]
    },
    // Command access levels
    accessLevels: {
        guest: 0,
        identified: 1,
        admin: 2,
        owner: 3
    },
    // Express Configuration
    express: {
        port: 8084,
        address: 'http://localhost:8084'
    },
    // Feature Configuration
    features: {
        urls: {
            loggingIgnore: [],
            announceIgnore: [],
            titleMin: 35,
            cacheCleanup: {
                minute: 0
            }
        },
        fsociety: {
            mainChannel: '#mrnodebot',
            totalChannels: 0,
            report: false,
            delay: 5, // In seconds,
            additionalChannels: [
                '#mrnodebot2'
            ],
            greetIgnore: [],
            greeterDealy: 20,
            idleChat: 5 // Mins
        },
        twitter: {
            enabled: true,
            followers: 'whoismrrobot, samesmail, mrrobotquotes',
            channels: ['#mrnodebot']
        },
        conversational: {
            randomChange: 5000,
            enabled: false,
            ignoredChans: []
        }
    },
};
