module.exports = {
    // Project Config
    project: require('./package.json'),
    // Bot specific
    bot: {
        debug: false,
        disableScripts: false,
        // Script Directories
        scripts: [
            '/scripts/pages'
            '/scripts/commands',
            '/scripts/admin',
            '/scripts/owner',
            '/scripts/listeners',
            '/scripts/modules',
            '/scripts/fsociety',
        ],
        // Model Directories
        models: [
            '/models'
        ],
        // Currently running Enviroment
        env: 'devel'
    },
    // Owner configuration
    owner: {
        nick: 'IronY',
        host: ''
    },
    // Irc Client Configuration see https://node-irc.readthedocs.io/en/latest/API.html#client
    irc: {
        nick: 'MrNodeBot',
        server: 'irc.freenode.net',
        userName: 'MrNodeBot',
        realName: 'MrNodeBot',
        port: 6667,
        localAddress: null,
        debug: false,
        showErrors: false,
        autoRejoin: false,
        channels: [
            '#MrNodeBot'
        ],
        secure: false,
        selfSigned: false,
        certExpired: false,
        floodProtection: false,
        floodProtectionDelay: 1000,
        sasl: false,
        retryCount: 0,
        retryDelay: 2000,
        stripColors: false,
        channelPrefixes: '&#',
        messageSplit: '512',
        encoding: 'utf8'
    },
    // Knex configuration http://knexjs.org/#Installation-client
    knex: {
        enabled: true,
        engine: 'sqlite',
        mysql: {
            client: 'mysql',
            connection: {
                host: '127.0.0.1',
                user: 'mrnodebot',
                password: 'mrnodebot',
                database: 'mrnodebot'
            },
        },
        sqlite: {
            client: 'sqlite3',
            connection: {
                filename: "./data.sqlite"
            }
        }
    },
    // Nickserv configuration options
    nickserv: {
        password: '',
        nick: 'NickServ',
        host: '', // services.dal.net for Dalnet, empty for Freenode
        accCode: '3'
    },
    // API Keys
    apiKeys: {
        google: '',
        mashable: '',
        twitter: {
            consumerKey: '',
            consumerSecret: '',
            tokenKey: '',
            tokenSecret: ''
        }
    },
    // Git Log configuration
    gitLog: {
        repo: __dirname,
        number: 5,
        fields: [
            'subject',
            'authorName',
            'authorDateRel',
            'abbrevHash'
        ]
    },
    // Command access levels
    accessLevels: {
        guest: 0,
        identified: 1,
        admin: 2,
        owner: 3
    },
    // Express Configuration
    express: {
        port: 1337,
        address: 'http://localhost:1337'
    },
    // Feature Configuration
    features: {
        urls: {
            googleShortIgnore: [],
            loggingIgnore: [],
            titleMin: 35,
            cacheCleanup: {
                minute: 0
            }
        },
        darkArmy: {
            mainChannel: '#fsociety',
            totalChannels: 0,
            report: false,
            delay: 5, // In seconds,
            additionalChannels: [
                // '#th3g3ntl3man',
                // '#darkarmy',
                // '##funsociety'
            ],
            greeterDealy: 20,
        },
        twitter: {
            followers: 'whoismrrobot, samesmail, mrrobotquotes',
            channels: [
                '#fsociety'
            ]
        },
        conversational: {
            enabled: false,
            ignoredChans: []
        }
    },
};
