[Unit]
Description=MrNodeBot
# Uncomment the following line and adjust to your SQL server flavor, sqlite3 need not apply
# Requires=After=mysql.service

[Service]
WorkingDirectory=/<path to project root>
ExecStart=/usr/bin/node /<path to project root>/index.js
Restart=always
RestartSec=2                       # Restart service after 10 seconds if node service crashes
SyslogIdentifier=MrNodeBot

User=<user created in readme.md>

# Optional group
#Group=www-data

# ENV Vars
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
