extends ./includes/layout.pug
block title
	title Nick Changes module
block head
	script(src='/assets/moment.min.js')
	script(src='/assets/bootstrap-sortable.js')
block content
	div.row
		div.col-md-12
			div.text-center
				h1 Nick Changes
			table.table.table-striped.sortable
				thead
					tr
						th Old Nick
						th New Nick
						th(data-defaultsort='enabled') Channels
						th Time Stamp
				tbody
					each val in results
						tr
							td!= val.oldnick
							td!= val.newnick
							td!= val.channels
							td(data-dateformat="h:mma MMM Do")!= moment(val.created_at).format('h:mma MMM Do')
