
.padded {
	padding-right: 5px;
	padding-left: 5px;
}
.site-wrapper {
	margin-top: 60px;
}
.channelLink {
	display: inline-block;
}
.channelLink:not(:only-of-type):not(:last-of-type):after {
	margin-right:5px;
	margin-left:5px;
	content: '|';
	display: inline-block;
}
.help-block {
	color:#737373;
}
.padded {
	margin-left: 0;
	margin-right: 0;
}
