html {
    /* give this to all tags from html to .fullscreen */
    height: 100%;
    background-image: url('/assets/mrnodebot.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
	min-height:93%;
	background-color: rgba(0,0,0,0.8);
}
.padded {
	padding-right: 5px;
	padding-left: 5px;
}
.site-wrapper {
	margin-top: 60px;
}
.channelLink {
	display: inline-block;
}
.channelLink:not(:only-of-type):not(:last-of-type):after {
	margin-right:5px;
	margin-left:5px;
	content: '|';
	display: inline-block;
}
.help-block {
	color:#737373;
}
.padded {
	margin-left: 0;
	margin-right: 0;
}
