extends ./includes/layout.pug
block title
    title #fsociety on irc.freenode.net
block content
          iframe(height="640",style='width:100%', src='https://webchat.freenode.net/?channels=#fsociety')
