extends ./includes/layout.pug
block title
	title Commands
block content
	div.row
		div.col-md-12
			div.text-center
				div.page-header
					h1 Commands
				table.table.table-bordered.table-striped
					tbody
						tr.info
							th Command
							th Description
							th Access Level
					tbody
						each command in results
							tr.text-left
								td #{command.command}
								td #{command.desc}
								td #{command.access}
block body
	script(src='/assets/bootstrap-sortable.js')
