extends ./includes/layout.pug
block title
    title Hello Friends...
block content
    div.row
        div.col-md-12.message
            img(src="/assets/bot.png", class="center-block")
block body
