.fs-panel, .login, .arg-create-container .uk-panel {
  color: white;
  min-width: 320px;
  background: rgba(0, 0, 0, 0.5);
}

.fs-panel .uk-panel-header, .login .uk-panel-header, .arg-create-container .uk-panel .uk-panel-header, .fs-panel .uk-panel-title, .login .uk-panel-title, .arg-create-container .uk-panel .uk-panel-title {
  color: white;
  font-size: 2em;
  border-bottom: 2px solid #D12026;
}

.fs-panel .uk-form-danger, .login .uk-form-danger, .arg-create-container .uk-panel .uk-form-danger {
  background: none !important;
  color: #D12026 !important;
}

.fs-panel .uk-form input:not([type]), .login .uk-form input:not([type]), .arg-create-container .uk-panel .uk-form input:not([type]), .fs-panel .uk-form input[type=text], .login .uk-form input[type=text], .arg-create-container .uk-panel .uk-form input[type=text], .fs-panel .uk-form input[type=password], .login .uk-form input[type=password], .arg-create-container .uk-panel .uk-form input[type=password], .fs-panel .uk-form input[type=email], .login .uk-form input[type=email], .arg-create-container .uk-panel .uk-form input[type=email], .fs-panel .uk-form input[type=url], .login .uk-form input[type=url], .arg-create-container .uk-panel .uk-form input[type=url], .fs-panel .uk-form input[type=search], .login .uk-form input[type=search], .arg-create-container .uk-panel .uk-form input[type=search], .fs-panel .uk-form input[type=tel], .login .uk-form input[type=tel], .arg-create-container .uk-panel .uk-form input[type=tel], .fs-panel .uk-form input[type=number], .login .uk-form input[type=number], .arg-create-container .uk-panel .uk-form input[type=number], .fs-panel .uk-form input[type=datetime], .login .uk-form input[type=datetime], .arg-create-container .uk-panel .uk-form input[type=datetime], .fs-panel .uk-form input[type=datetime-local], .login .uk-form input[type=datetime-local], .arg-create-container .uk-panel .uk-form input[type=datetime-local], .fs-panel .uk-form input[type=date], .login .uk-form input[type=date], .arg-create-container .uk-panel .uk-form input[type=date], .fs-panel .uk-form input[type=month], .login .uk-form input[type=month], .arg-create-container .uk-panel .uk-form input[type=month], .fs-panel .uk-form input[type=time], .login .uk-form input[type=time], .arg-create-container .uk-panel .uk-form input[type=time], .fs-panel .uk-form input[type=week], .login .uk-form input[type=week], .arg-create-container .uk-panel .uk-form input[type=week], .fs-panel .uk-form input[type=color], .login .uk-form input[type=color], .arg-create-container .uk-panel .uk-form input[type=color], .fs-panel .uk-form select, .login .uk-form select, .arg-create-container .uk-panel .uk-form select, .fs-panel .uk-form textarea, .login .uk-form textarea, .arg-create-container .uk-panel .uk-form textarea {
  border-radius: 5px;
  text-align: center;
}

html {
  /* give this to all tags from html to .fullscreen */
  /*background: url("/assets/MrNodeBot.png") no-repeat center center fixed;*/
  /*background-size: cover;*/
  /*background-size: cover;*/
  background: #191125;
}

body {
  scrollbar-face-color: #D12026;
}

a, .uk-link {
  color: #3d96dd;
}

a:hover, .uk-link:hover {
  text-decoration: none;
  color: #D32027;
}

.right-margin-5 {
  margin-right: 5px;
}

.left-margin-5 {
  margin-left: 5px;
}

.full-height {
  height: calc(100% - 45px);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.h_iframe {
  position: relative;
  height: 100%;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: 100%;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #D12026;
}

footer .uk-icon-heart {
  color: #D12026;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: black;
}

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: black;
  margin-top: 40px;
}

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: #D12026;
}

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background: black;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
  background-color: black;
}

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.typed-cursor, .message {
  font-size: 2em;
  line-height: 1.2em;
  color: #D12026;
  display: inline-block;
}

.primaryColorText {
  color: #D12026;
}

.message-container {
  min-width: calc(100% - 20%);
  display: inline-block;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-link {
  font-style: italic;
  color: #D12026;
}

.no-link:hover, .no-link:active {
  text-decoration: none;
  color: #D12026;
  cursor: default;
}

.main-nav {
  height: calc(45px - 4px);
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #D12026;
}

.main-nav .uk-navbar-nav > li > a {
  font-size: 18px !important;
}

.main-nav .uk-navbar-nav > li.uk-active > a {
  background: none;
  color: #D12026;
}

.main-nav .uk-navbar-brand, .main-nav .uk-link, .main-nav a, .main-nav .uk-navbar-nav > li > a {
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.main-nav .uk-navbar-brand:hover, .main-nav .uk-link:hover, .main-nav a:hover, .main-nav .uk-navbar-nav > li > a:hover {
  color: #D32027;
}

.main-nav .uk-navbar-nav > li.uk-open > a, .main-nav .uk-navbar-nav > li:hover > a, .main-nav .uk-navbar-nav > li > a:focus {
  background: none;
}

.main-nav .uk-nav-navbar > li > a {
  color: black;
}

.main-nav .uk-nav-navbar > li > a:hover {
  background: black;
  color: white;
}

.main-nav .right-nav .uk-dropdown, .main-nav .right-nav .uk-dropdown-blank {
  width: 100px;
}

.main-nav .right-nav .uk-dropdown-navbar {
  margin-top: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.explanation {
  font-size: 2em;
  margin-top: 10px;
  position: fixed;
  top: 65%;
  right: 50%;
}

.explanation a {
  color: rgba(255, 255, 255, 0.2);
}

.explanation a:hover, .explanation a:active {
  color: rgba(255, 255, 255, 0.8);
}

.dark-box {
  background: rgba(0,0,0,0.52);
}

form.selection-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

select {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px !important;
  color: black;
  border: 1px solid #D12026;
}

select:focus {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  color: black;
}

button {
  background: none;
  color: #fff;
  border: 1px solid #D12026 !important;
  margin-bottom: 10px;
  outline: 0;
  border-radius: 4px;
}

button:hover, button:focus {
  background: rgba(211, 32, 39, 0.5);
}

button > i {
  padding: 4px;
}

button:hover, button:active {
  outline: 0;
  background-color: rgba(211, 32, 39, 0.5);
}

.connections-form {
  margin-top: 5px;
  margin-bottom: 5px;
}

.connections-form-row {
  display: inline-block;
}

.url {
  color: #62bd18;
}

.to {
  color: #ffbb00;
}

.from {
  color: #fc3d31;
}

.timeStamp {
  color: #8042B5;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}

.bounce-enter-active {
  -webkit-animation: bounce-in .5s;
  animation: bounce-in .5s;
}

.bounce-leave-active {
  -webkit-animation: bounce-out .5s;
  animation: bounce-out .5s;
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
